*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.welcome-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/images/oh-ghost-light-01.jpg');
    background-size: cover;
}

.welcome-content h1, h2{
    color: aliceblue;
    padding: 10px;
}

.welcome-content h1{
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
}

.welcome-content h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-content > div{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.welcome-content .nav-bar{
    display: flex;
}

.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: transparent;
}


.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    display: inline;
    margin-right: 10px;
    padding-top: 10px;
}


.nav-link{
    text-decoration: none;
    color: aliceblue;
    padding: 10px ;
    border-radius: 5px;
    transition: background-color 0.55s ease;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.65);
    color: #333;
}

.navbar ul li .active {
    background-color: aliceblue; /* Example active background color */
    color: #333; /* Example active text color */
  }

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/images/70-min-29-1024x461.png');
    background-size: cover;
}

.card{
    color: aliceblue#fff;
    background: rgba(255, 255, 255, 0.2);
    width: 400px;
    border-radius: 10px;
    padding: 30px 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.card h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.card .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
/* input fields */

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: aliceblue;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    color: aliceblue;
}

.remember-forgot label input {
    accent-color: aliceblue;
    margin-right: 3px;
}

/* background: rgba(255, 255, 255, 0.75); */
/* submit button */
.card .btn {
    width: 100%;
    height: 45px;
    background: rgba(255, 2, 179, 0.993);
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: aliceblue;
    font-weight: 600;
    margin-top: 10px;
}

.card .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    color: aliceblue;
}

.register-link p a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.about-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/images/70-min-29-1024x461.png');
    background-size: cover;
    padding: 20px 20px 20px 20px;
}

.about-wrapper .about-content{
    color: aliceblue;
    text-decoration: none;
}

.about-content h1{

    position: relative;
    bottom: 200px;
    margin-left: 20px;
    
}

.about-content h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5px;
}

.about-content p{
    align-items: baseline;
    margin-top: 70px;
    font-family: 'Times New Roman', Times, serif;
}

.contacts-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/images/70-min-29-1024x461.png');
    background-size: cover;
    padding: 20px 20px 20px 20px;
}

.contacts-wrapper .contacts-content{
    color: aliceblue;
    text-decoration: none;
}

.contacts-content h1, h2{
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
}



.contacts-content h2{
    font-size: 20px;
}

.contacts-content p{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    font-size: 12;
}

.user-update{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/images/70-min-29-1024x461.png');
    background-size: cover;
    padding: 20px 20px 20px 20px;
}

.home-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/images/70-min-29-1024x461.png');
    background-size: cover;
    padding: 20px 20px 20px 20px;
}

.home-wrapper .home{
    color: aliceblue;
    text-decoration: none;
}

.home h1, p{
    color: aliceblue;
}

.home h1{
    margin-bottom: 20px;
    font-size: 50px;
}

.home p{
    font-size: 30px;
    margin-bottom: 30px;
}



.diagnose-link{
    background-color: rgb(0, 248, 83);
    color: #333;
    text-decoration: none;
    padding: 10px ;
    border-radius: 25px;
}

/* diagnosis page */

.diagnosis{
    height: 100vh;
    background-image: url('./assets/images/70-min-29-1024x461.png');
    background-size: cover;
    text-align: center;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.diagnosis-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
}

.diagnosis-inputs .data-input{
    background-color: transparent;
}

.data-input input{

    width: 400px;
    margin-bottom: 10px;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: 38px;
    font-size: 16px;
    color: #333;
    padding: 5px 5px 5px 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding-left: 10px;
}

.check{
    color: aliceblue;
}

.diagnosis h1{
    padding: 0px;
    font-size: 50px;
    color: aliceblue;
    padding-top: 40px;
}

.diagnose-btn{
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 248, 83);
}

.data-input ::placeholder{
    padding-left: 0px;
    color: #333;
}

/* history data */

.history{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/images/70-min-29-1024x461.png');
    background-size: cover;
}

.health-data ul{
    background: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    margin-bottom: 10px;
    padding: auto;
}

.health-data ul li h2{
    color: #333;
    padding: 20px 10px 10px 20px;
    margin-bottom: 0px;
}

.health-data ul li p{
    color: #333;
    padding: 20px;
    margin-bottom: 0px;
}

.history-content h1{
    color: aliceblue;
}

.health-data ul li:hover{
    cursor: pointer;
}

/* user details */
.user-ui{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/images/70-min-29-1024x461.png');
    background-size: cover;
    padding: 20px 20px 20px 20px;

}

hr{
    color: rgba(255, 255, 255, 0.65);
}

.user-data p{
    margin-top: 15px;
}

.health-data .health-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: coral;
    border: 15px;
    z-index: 1000;
    overflow-y: auto;
    max-height: 60%;
    max-width: 350px;
}

.health-dialog h2 p{
    color: #333;
}

.data-box {
    
    /* justify-content: right; */
   max-height : 50%;

    
}
/* ul.history20{

}
/* health data edited 
.health-data{
    

} */

/* MEDIA QUERYS */
/* @media screen and (max-width: 2000px){
    
    .contacts-content h1{
        position: relative;
        bottom: 200px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 500px){
    .about-content h1{

        position: relative;
        bottom: 200px;
        margin-left: 20px;
        
    }

    .contacts-content h1{
        position: relative;
        bottom: 200px;
        margin-left: 40px;
    }
} */

